@mixin maxWidth {
    max-width: 1120px;
    margin: 0 auto;
}

@mixin flex-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-spacebetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}