@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100;300;400&display=swap');

@mixin my-font-type($font: 'base') {
    @if($font == bold) {
        font-family: 'Kdam Thmor Pro', sans-serif;

    } @else {
        font-family:  'Roboto', sans-serif;
    }
}

@mixin font-weight($weight) {
    $weights: (
    thin: 100,
    normal: 400,
    medium: 500,
    bold: 700,
    black: 900,
    );
    $output: $weight;
    @if map-has-key($weights, $weight) {
      $output: map-get($weights, $weight);
    }
    
    font-weight: $output;
}

@mixin flex($direction: null, $content: null , $items: null, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
  }

@mixin maxWidth {
    max-width: 1120px;
    margin: 0 auto;
}
