/* Responsive */

@media (max-width: 740px) {
    body {
      overflow-x: hidden;
      position: relative;
    }
    #warrper {
      overflow: hidden;
    }
    .icon-navbar{
      display: block;
    }
    .header-container {
      padding: 0 15px;
    }
    .header-menu {
      display: none;
    }
    .icon-menu {
      margin-left: 150px;
    }
    .header-menu {
      position: absolute;
      right: 0px;
      height: 532px;
      top: 60px;
      line-height: 70px;
      background-color: #292d38;
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: 9999;
      transform: translateX(100%);
      transition: transform 0.4s ease-in;
    }
  
    .content-container {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
    }
    .tab-lifestyle {
      margin-top: 0px;
    }
    /* tab-title */
    .tab-title i {
      display: block;
      margin-right: 15px;
      font-size: 20px;
    }
    .tab-lifestyle_nav {
      position: absolute;
      top: 252px;
      height: 250px;
      width: 45%;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      z-index: 999;
      transition: tranform 0.5s ease-in;
      background-color: #292d38;
      display: none;
    }
    .tab-lifestyle_nav li {
      line-height: 25px;
    }
    .tab-title {
      display: flex;
      align-items: center;
    }
    .tab-title h3 {
      font-size: 24px;
      text-align: center;
    }
    .tab-title h4 {
      font-size: 20px;
    }
    .block-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
    }
    .tab-filter {
      margin-top: 0px;
    }
    .content-left {
      width: 100%;
    }
    .heading-title {
      display: flex;
      flex-direction: column;
    }
    .heading-title h1 {
      font-size: 24px;
    }
    .content-right {
      width: 100%;
    }
    .product {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
    }
    .product-item {
      width: 87%;
    }
    .product-cart {
      left: 45%;
      bottom: -20px;
    }
    /* footer */
    .footer-container {
      padding: 0 15px;
    }
    .footer-navbar {
      display: flex;
      flex-direction: column;
    }
    .footer-navbar li a {
      margin-right: 0px;
      font-size: 12px;
    }
  }
  .nav-active {
    transform: translateX(0%);
  }
  .tab-active {
    display: block;
  }
  
  /* Ipad */
  @media (min-width: 741px) and (max-width: 1024px) {
    .header-container,.content-container ,.footer-container{
      padding: 0 15px;
    }
    .content-left {
      width: 30%;
    }
    .content-right {
      width: 70%;
    }
    .heading-title {
      flex-direction: column;
    }
    .search-box {
      width: 400px;
      height: 40px; 
    }
    .search-btn {
      width: 45px;
      height: 42px;
    }
    .product {
      justify-content: space-around;
      margin-left: 0px;
    }
    .product-item {
      width: 40%;
      margin-left: 0px;
    }
  }
  