* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(103, 182, 182);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}
.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.icon-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    font-size: 26px;
    z-index: 999;
    cursor: pointer;
}
.icon-next {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    font-size: 26px;
    z-index: 999;
    right: 0;
    cursor: pointer;
}
.slideshow-dots {
    margin: 0 auto;

}
.slideshow-dots-item  {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    display: inline-block;
    margin: 0 2px;

}
.slideshow-dots-item.active, .slideshow-dots-item:hover{
    background-color: blue;
}
.slideshow-background {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slideshow-item {
    flex: 1 0 100%;
    width: 100%;
    display: none;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 @-webkit-keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
  }
 @keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
  }